/*
app/etc/env.php

!/.editorconfig
!/.ddev
!/.gitignore
!/auth.json
!/composer.json
!/composer.lock
!/deploy.php
!/phpstan.neon
!/rector.php

!/.github
!/app
!/artifacts
!/packages
!/patches
!/tests
!/pub
/pub/*
app/design/frontend/ControlAltDelete/MageDispatch/web/css/
