@color-primary__button: red;

@copyright__background-color: red;

@overlay__background: red;

@popup-icon-font__color: red;

@breadcrumbs-current__color: red;

@pager-current__background: red;

@button__background: red;

@button__active__background: red;
